/* React CSS Default for Index.js */
body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* HEADER */
header {
  background-color: #edb518;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: poppins;
  margin-bottom: 20px;
  padding: 20px;
}

header > span {
  font-weight: bold;
}

nav {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

nav > li {
  list-style: none;
  padding: 0px 10px;
}

nav > li > a {
  text-decoration: none;
  color: #f5f7f7;
  font-size: 0.6em;
}

nav > li > a:hover {
  color: #edb518;
  border-bottom: solid #f5f7f7 1px;
}

/* MAIN BODY */
.Card {
  height: 80vh;
  width: 100%;
  color: #111111;
  background-color: #edb518;
  box-shadow: #000407;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  font-size: 20px;
  font-weight: bolder;
  align-items: flex-end;
  list-style: none;
  padding-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CardDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.CardLinks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.SearchNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  color: #edb518;
  background-color: white;
  width: 250px;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
}

.SearchNav > input{
  border: none;
  width: 90%;
}

/* Web View */
@media screen and (min-width: 426px) {
  .Main {
    display: flex;
    gap: 20px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .Card {
    width: 400px;
    height: 500px;
    border-radius: 10px;
  }

  .SearchNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    color: #edb518;
    background-color: white;
    /* width: 80px; */
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
  }

  .SearchNav > input{
    border: none;
  }
}